<h1>Here are the shortened urls </h1>

<% @urls.each do |url|%>
  <h3><%= url.address%></h3>
  <ul>
    <li> Database ID: <%= url.id%>
    <li> Shortened Url: <%= link_to url.shortened, url.shortened %>
  </ul>

<% end%>

<%= link_to "Click here to create new urls", new_url_path %>

